<div class="sidebar">
    <div class="sidebar__wrapper--toggled">
        <ul class="sidebar__nav">
            <li class="sidebar__brand">
                <a href="#"><span class="sidebar__nav-link-text">Code Challenge</span><span class="sidebar__nav-link-icon glyphicon glyphicon-menu-hamburger"></span></a>
            </li>

            <li>
                <a routerLink=""><span class="sidebar__nav-link-text">Home</span><span class="sidebar__nav-link-icon glyphicon glyphicon-home"></span></a>
            </li>

            <li>
                <a routerLink="/todo"><span class="sidebar__nav-link-text">ToDo</span><span class="sidebar__nav-link-icon glyphicon glyphicon-list-alt"></span></a>
            </li>

            <li>
                <a href="#"><span class="sidebar__nav-link-text">Joke</span><span class="sidebar__nav-link-icon glyphicon glyphicon-thumbs-up"></span></a>
            </li>
        </ul>
    </div>
</div>