.sidebar__nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar__nav li {
    line-height: 40px;
}

.sidebar__nav-link {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar__nav-link-text {
    margin-left: 10px;
}

.sidebar__nav-link-icon {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 10px;
    float: right;
}

.sidebar__nav-link:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar__nav-link:active,
.sidebar__nav-link:focus {
    text-decoration: none;
}

.sidebar__brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar__brand-link {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar__brand-link:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

@media(max-width: 767px) {
    .sidebar__nav-link-text {
        display: none;
    }

    .sidebar__nav-link-icon {
        float: none;
    }
}